<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN (actually loading form the current directory. I downlaoded it. -) -->
        <link rel="stylesheet" href="bootstrap.min.css" />
        
        <!-- load angular via CDN (actually loading from the directory. I downloaded. -Kenny) -->
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>


        <div class="container">
            <div class="row">
                <div class="col-md-3" style="background-color:lightgreen">
                    <input  type="text" id="name" />
                </div>
                <div class="col-md-9" style="background-color:lightblue" >
                    <p>col-md-9</p>
                </div>
            </div>
        </div>

        <div class="container">
			<div ng-controller="mainController">
                <h1>Hello world!</h1>
                <input type="text" ng-model="message"/>
                <button ng-click="$log.log(message)">log</button>
                <button ng-click="$log.error(message)">error</button>
                <h1>Hello {{name + '. How are you?'}}</h1>
            </div>
        </div>
<!-- /////////////////////////========Twitter Hander=======\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <div class="container">
            <div ng-controller="mainController" >
                <div  >
                    <label>What's ur twitter handle?</label>
                    <input type="text" ng-model="handle" />
                    <hr/>
                    <h1>twitter.com/{{lowercasehandle()}}</h1>
                </div>
            </div>
        </div>

    </body>
</html>
