/* --------------------- Kenny's custom styles ------------------------*/

.navbar-header {margin-bottom: 20px;}

.navbar-nav {
	margin-top: 7.5px;
	margin-right: -15px;
	margin-bottom: 7.5px;
	margin-left: -15px;
}